<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}'s Dashboard</title>
</head>
<body>
    <form method="post">
    <h1>Welcome {{name}} </h1><br />
    <h2><input type="submit" value="upload" formaction="{{url_for('upload')}}" formmethod="get"></input></h2><br />
    <h2><input type="submit" value="show files" formaction="{{url_for('show_files')}}" formmethod="get"></input></h2><br />
    <h2><input type="submit" value="show storage" formaction="{{url_for('show_storage')}}" formmethod="get"></input></h2><br />
        <h2><input type="submit" value="logout" formaction="{{url_for('logout')}}" ></input></h2>
        </form>
</body>
</html>