<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form method="POST">
        <div>
            <label id="Email: ">Email</label>
            <input type="email" name="email"/><br />
            <label id="Username: ">Username</label>
            <input type="text" name="username"/><br />
            <label id="Password: ">Password</label>
            <input type="password" name="password"><br />
            <input type="submit" value="submit" />
        </div>
</form>

</body>
</html>