<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Files: </h2>
<form method="post">
 <table border="1">
{%- for item in storage_di -%}
     <tr>
         <td>{{ item }}</td> <td>{{storage_di[item]}}</td><td><input type="checkbox" name="sh_fi" value="{{item}}" /></td>
      </tr>
    {%- endfor -%}
  </table><br /><br />
    <input type="submit" value="Delete Files" /><br /><br/>
    <input type="submit" value="get in email"  formaction="{{url_for('send_email_data')}}" formmethod="POST"/><br />
    <h4>Email comma sep allowed</h4>
</form>
</body>
</html>