<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>
    <div>
    <h2>Upload Your File {{name}}</h2>
        <form method="POST" enctype=multipart/form-data>
            <label id="File: " ></label>&nbsp;&nbsp;&nbsp;
            <input type="file" name="file"><br /><br />
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="submit"><br /><br />
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{url_for('login')}}">Go To Dashboard</a></h2>
        </form>

    </div>
<script>
$(function(){
    $('form').submit(function(){
        var isOk = true;
        $('input[type=file][max-size]').each(function(){
            if(typeof this.files[0] !== 'undefined'){
                var maxSize = {{ size }}
                var size = this.files[0].fileSize;
                isOk = maxSize > size;
                return isOk;
            }
        });
        return isOk;
    });
});
</script>
</body>
</html>